@import "normalize.css";
@import url("https://fonts.googleapis.com/css?family=Nunito:300&display=swap");

:root {
	--main-text-color: #333;
	--main-bg-color: #eee;
	--color-purple: #6567c2;
	--color-hot-pink: rgb(166, 71, 179);
	--gradient-purple-pink: linear-gradient(
		to bottom right,
		rgb(124, 113, 172),
		rgb(166, 71, 179)
	);
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	color: var(--main-text-color);
	font-weight: 300;
	background-color: var(--main-bg-color);
	background-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		#fff,
		#fff,
		#fff,
		rgba(255, 255, 255, 0)
	);
}

header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	text-align: right;
	padding: 20px;
	background-color: var(--color-purple);
	background-image: var(--gradient-purple-pink);
}

a {
	text-decoration: none;
	color: var(--color-hot-pink);
}

a:hover,
a:active {
	text-decoration: underline;
}

header nav a {
	color: #fff;
}

header nav a:not(:first-of-type) {
	margin-left: 15px;
}

section {
	display: flex;
	min-height: 100vh;
	padding: 60px 0;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#intro {
	flex-direction: column;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	font-size: 3rem;
	font-weight: 300;
}

h2 {
	font-size: 1.8rem;
	font-weight: 300;
}

h2 .web-dev {
	display: inline-block;
}

p {
	text-align: left;
	line-height: 1.5rem;
}

footer p {
	text-align: center;
}

.container {
	text-align: center;
	width: 90%;
	max-width: 1400px;
}

.project,
.article {
	display: inline-block;
	margin: 20px 10px;
	width: min-content;
	border: 1px solid #ccc;
	padding: 0 20px 20px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.screenshot-container {
	display: inline-block;
	margin-top: 20px;
	overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 5px;
}

img.screenshot {
	display: block;
	width: 300px;
	transition: transform 0.5s;
}

img.screenshot:hover {
	transform: scale(1.1);
}

.article img {
	width: 300px;
	margin: 0 -20px;
}

.tech-used {
	opacity: 0.7;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.9rem;
}

.tech-used::before {
	content: "< ";
}

.tech-used::after {
	content: " >";
}

a.button {
	display: inline-block;
	margin: 15px 10px;
}

a.button i {
	margin-right: 0.5em;
}

#about .container {
	max-width: 800px;
}

#about p img {
	shape-outside: circle(50%);
	border-radius: 50%;
	margin-right: 20px;
	float: left;
	width: 150px;
	height: 150px;
}

#skills {
	text-align: center;
}

#skills i {
	margin: 0.7rem;
	font-size: 2rem;
}

.icon {
	font-size: 3rem;
	margin: 20px 15px;
}

/* Screen reader only, not visible */
/* .sr-only class supplied by fontawesome */

/* Form styles */
form {
	margin: 50px auto;
	width: 100%;
	max-width: 500px;
}

form label {
	display: block;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 5px;
	text-align: left;
}

form input {
	width: 100%;
}

textarea.message {
	height: 6rem;
	width: 100%;
}

button {
	display: block;
	margin: 15px auto;
	padding: 0.6em 1em;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	background-color: var(--color-hot-pink);
	color: #fff;
	transition: all 0.3s;
}

button:hover {
	background-color: var(--color-purple);
}

.back-to-top,
.to-next-section {
	text-align: center;
	font-size: 4rem;
}

.back-to-top a,
.to-next-section a {
	text-decoration: none;
	color: #ddd;
}

.to-next-section {
	display: block;
}

/* For larger screens */
@media screen and (min-width: 600px) {
	h1 {
		font-size: 3.8rem;
	}

	#intro img {
		width: 350px;
	}
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #333;
		background-image: radial-gradient(rgba(255, 255, 255, 0), #444);
		background-attachment: fixed;
		color: #ddd;
	}

	a {
		color: #fff;
	}

	.project,
	.article {
		background-color: #444;
		border-color: #333;
	}

	.screenshot-container {
		border-color: #333;
	}

	footer {
		background-color: #111;
		color: #ccc;
	}
}
